<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'Detalle', stylesheet: ['/css/styles.css','/css/productDetail.css']}) %>
  
    <body>
        <%- include('../partials/header') %>	
        <h2 class="titulo">Producto Seleccionado</h2>
        <main class="granContenedor">
                                         
            <div class="foto">
                <img src="img/img-mistery.jpg" width="100%" height="400px" alt="Producto Misterioso">
            </div>

            <div class="contenedorGris">
                <h2 class="subtitulo">Detalles del producto</h2>
                <div class="DPS">
                    <h4 class="des">Producto Misterioso</h4>
                    <h4 class="des">Precio = $6.770</h4>
                    <p class="des">40% off</p>
                </div>

                <div class="DPA">
                    <h4>Descripcion</h4>
                    <p>Caja misteriosa con elementos de origen Argentino. Cada caja contiene 10 productos, amplia
                        variedad de categorias.</p>
                </div>

                <div class="botones">
                    <button type="submit">
                        <label for="Lugar">Opciones de envio</label>
                        <select name="Envio" id="Lugar">
                            <option>Envio a domicilio</option>
                            <option>Retiro en sucursal</option>
                        </select>
                    </button>
                    <a href="Cart" class="enlaceDDP"><button class="boton" width="90%"><strong>COMPRAR</strong>
                        </button></a>
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>	
    </body>
</html>