<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'Create' , stylesheet: ['/css/styles.css','/css/productCreate.css']}) %>

    <body>
        <%- include('../partials/header') %>

            <main class="formContenedor">
                <h1 class="tituloCreate"><strong>Nuevo Producto</strong></h1>
                <form method="POST" action="/products/create" class="createForm" enctype="multipart/form-data">


                    <label for="name" class="elementForm">Nombre del Producto</label>
                    <input type="text" id="name" name="name" class="control"></input>


                    <label for="price" class="elementForm">Precio</label>
                    <input type="text" id="price" name="price" class="control"></input>


                    <label for="discount" class="form-label">Descuento:</label>
                    <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="control">

                    <label for="description" class="elementForm">Descripción</label>
                    <textarea id="description" name="description" class="control"></textarea>

                    <label for="category" class="elementForm">Categoría</label>
                    <select id="category" name="category" class="control">
                        <option value="calzados">Calzados</option>
                        <option value="indumentaria">Indumentaria</option>
                        <option value="accesorios">Accesorios</option>
                    </select>

                    <label for="colors" class="elementForm">Colores</label>
                    <input type="text" id="colors" name="colors" class="control"></input>

                    <label for="images" class="elementForm">Imágenes del producto</label>
                    <input type="file" id="images" name="Imagenes" class="control" accept=".jpg, .png" multiple></input>

                    <button type="reset" class="botonForm">Borrar</button>
                    <button type="submit" class="botonForm">Guardar</button>

                </form>
            </main>

    </body>
    <%- include('../partials/footer')%>

</html>