<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'Cart' , stylesheet: ['/css/styles.css','/css/productCart.css']}) %>

  <body>
    <%- include('../partials/header') %>
      <main>
        <ul type="none">
          <li>
            <h2 class="title">Mi Carrito de Compras</h2>
          </li>
          <li>
            <a href="/"><h3 class="subtitle">Seguir Comprando</h3></a>
          </li>
        </ul>

        <div class="container">
          <div class="products">
            <article class="productImage">
              <img src="/img/img-mistery.jpg" alt="product image" width="200px" height="200px">
            </article>

            <section class="productDescription">
              <h3>Producto Misterioso</h3>
              <p>Caja misteriosa con elementos de origen Argentino. Cada caja contiene 10 productos, amplia
              variedad de categorías.</p>
            </section>
            
            <section class="quantity">
              <h4>Cantidad</h4>
              <form id="quantity" method="post">
                <label for="cantidad">Cantidad:</label>
                <select type="number">
                  <option value="1"></option>
                  <option value="2"></option>
                  <option value="3"></option>
                  <option value="4"></option>
                  <option value="5"></option>
                  <option value="6"></option>
                  <option value="7"></option>
                  <option value="8"></option>
                  <option value="9"></option>
                  <option value="10"></option>
                </select>
              </form>
            </section>
          </div>
          <div class="calculations">

            <h4>Subtotal</h4>
            <div class="formulario">
              <h4>Código de descuento y código postal</h4>
              <form id="formularioEnvio">
                <label for="codigoDescuento">Código de Descuento:</label>
                <input type="text" id="codigoDescuento" name="codigoDescuento">
                <input type="submit" value="Validar"></input>

                <label for="codigoPostal">Código Postal:</label>
                <input type="text" id="codigoPostal" name="codigoPostal">

                <button type="button" onclick="calcularCostoEnvio()">Calcular Costo de Envío</button>
              </form>
              <h3>Total</h3>

            </div>

            <button onclick="realizarCompra()">Comprar</button>

          </div>
        </div>
      </main>
  </body>
  <%- include('../partials/footer') %>

</html>