<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'Cart', stylesheet: ['/css/styles.css','/css/productCart.css']}) %>

  <header>
    <input type="search" name="" id="search-1" />
    <div class="logo">
      <h1>Tienda Deportiva</h1>
    </div>
    <div class="search-box">
      <form>
        <input type="text" name="search" id="srch" placeholder="Buscar.." />
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Servicios</a></li>
      <li><a href="#">Contacto</a></li>
      <li><a href="#">Sobre Nosotros</a></li>
      <li>
        <a href="/login"><i class="fa fa-user"></i></a>
        <a href="/productCart"><i class="fa fa-shopping-cart"></i></a>
        <a href="#"><i class="fa fa-heart"></i></a>
      </li>
    </ul>
    <div class="menu">
      <label for="search-1">
        <i class="fa fa-bars"></i>
      </label>
    </div>
  </header>
  <body>
  <main>
    <h2 class="Título">Mi Carrito de Compras</h2>
    <nav class="my-products">
      <section class="product">
        <h4>Cantidad de Productos</h4>
        <article></article>
        <p>Seguir comprando</p>
      </section>
      <article>
        <img src="#" alt="picture-product">
        <h3>Producto</h3>
        <h4>Descripción del Producto</h4>
      </article>

      <section class="quantity">
        <h4>Cantidad</h4>
        <form action="procesar_formulario.php" method="post">
          <label for="cantidad">Cantidad:</label>
          <input type="number" id="cantidad" name="cantidad" min="1" value="1">
          <input type="submit" value="Agregar al Carrito">
        </form>
      </section>

    </nav>

    <nav class="Total">
      <section class="subtotal">
        <h4>Subtotal</h4>
        <div class="formulario">
          <h4>Código de descuento y código postal</h4>
          <form id="formularioEnvio">
            <label for="codigoDescuento">Código de Descuento:</label>
            <input type="text" id="codigoDescuento" name="codigoDescuento">
            <input type="submit" value="Validar"></input>

            <label for="codigoPostal">Código Postal:</label>
            <input type="text" id="codigoPostal" name="codigoPostal">

            <button type="button" onclick="calcularCostoEnvio()">Calcular Costo de Envío</button>
          </form>
          <h3>Total</h3>

          <button onclick="realizarCompra()">Comprar</button>

    </nav>
  </main>
  </body>
  <%- include('../partials/footer') %>	

</html>