<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <input type="search" name="" id="search-1" />
      <div class="logo"><h1>Tienda Deportiva</h1></div>
      <div class="search-box">
        <form>
          <input type="text" name="search" id="srch" placeholder="Buscar.." />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Sobre Nosotros</a></li>
        <li>
          <a href="/login"><i class="fa fa-user"></i></a>
          <a href="/productCart"><i class="fa fa-shopping-cart"></i></a>
          <a href="#"><i class="fa fa-heart"></i></a>
        </li>
      </ul>
      <div class="menu">
        <label for="search-1">
          <i class="fa fa-bars"></i>
        </label>
      </div>
    </header>

    <main>
      <div class="carrusel">
        <div class="elemento"> <a href='/productDetail' class=""><img src="img/img-mistery.jpg" width="100%" height="400px"></a></div>
        <div class="elemento"> <a href='/productDetail' class=""><img src="img/img-mistery.jpg" width="100%" height="400px"></a></div>
        <div class="elemento"> <a href='/productDetail' class=""><img src="img/img-mistery.jpg" width="100%" height="400px"></a></div>
        <div class="elemento"> <a href='/productDetail' class=""><img src="img/img-mistery.jpg" width="100%" height="400px"></a></div>
        <div class="elemento"> <a href='/productDetail' class=""><img src="img/img-mistery.jpg" width="100%" height="400px"></a></div>
      </div>
    </main>

    <footer class="footer-distributed">
      <div class="footer-left">
        <h3>Tienda<span>Deportiva</span></h3>

        <p class="footer-links">
          <a href="#">Home</a>
          |
          <a href="#">Sobre Nosotros</a>
          |
          <a href="#">Contacto</a>
          |
          <a href="#">Ayuda</a>
        </p>

        <p class="footer-company-name">
          Copyright © 2023 <strong>Alvarez Ivan</strong> All rights reserved
        </p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Argentina</span> Santiago del Estero</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+54 38547**1*8</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:sagar00001.co@gmail.com">xyz@gmail.com</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Sobre Tienda Oficial</span>
          <strong>Tienda Oficial</strong> Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Mollitia nostrum nesciunt laudantium
          quod rem maxime incidunt soluta libero rerum. Neque delectus nisi
          pariatur in quis dolore architecto molestias deleniti ipsam!
        </p>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
