<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto Seleccionado</title>
    <link rel="stylesheet" href="/css/Detail.css">
</head>

<body>
    <h2 class="titulo"> Producto Seleccionado</h2>
    <main>
        <section class="mainn">
            <div class="One"> <img src="images/img-mistery.jpg" width="100%" alt="Producto Misterioso"
                    class="productos">
            </div>
            <div class="contenedor">

                <div class="des">
                    <h4>Producto Misterioso</h4>
                </div>
                <div class="des">
                    <h4>Precio = $6.770</h4>
                </div>
                <div class="des">
                    <p>40% off</p>
                </div>
                <div class="des"><button type="submit">Comprar</button></div>
            </div>
        </section>

        <section class="detalle">
            <h4>Descripcion</h4>
            <p>Caja misteriosa con elementos de origen Argentino. Cada caja contiene 10 productos, amplia variedad de
                categorias.</p>
        </section>

</main>
    <footer>
    <section class="foot">

        <h3>Envío gratis desde $40000</h3>

        <h3>Seguridad, de principio a fin</h3>

        <h4>Copyright © 1999-2020 TiendaOficialDeportiva S.R.L.</h4>
    </section>
</footer>
</body>


</html>