<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>

    <!--estilos -->
    <lixdrel="stylesheet" href="/css/styles.css">
    <lixdrel="stylesheet" href="/css/productCart.css">

   <!--Iconos-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
   integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
   crossorigin="anonymous" referrerpolicy="no-referrer" /> 
</head>



<body>
    <main>
        <header>
            <input type="search" name="" id="search-1" />
            <div class="logo"><h1>Tienda Deportiva</h1></div>
            <div class="search-box">
        <form>
          <input type="text" name="search" id="srch" placeholder="Buscar.." />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
            </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Sobre Nosotros</a></li>
        <li>
          <a href="/login"><i class="fa fa-user"></i></a>
          <a href="/productCart"><i class="fa fa-shopping-cart"></i></a>
          <a href="#"><i class="fa fa-heart"></i></a>
        </li>
      </ul>
      <div class="menu">
        <label for="search-1">
          <i class="fa fa-bars"></i>
        </label>
      </div>     
        </header>
           
        <h2 class="Título">Mi Carrito de Compras</h2>
                <nav class="my-products">
                    <section class="product">
                        <h4>Cantidad de Productos</h4>
                        <article></article>
                        <p>Seguir comprando</p>
                    </section>
                        <article>
                            <img src="#" alt="picture-product">
                            <h3>Producto</h3>
                            <h4>Descripción del Producto</h4>
                        </article>

                    <section class="quantity">
                        <h4>Cantidad</h4>
                            <form action="procesar_formulario.php" method="post">
                            <label for="cantidad">Cantidad:</label>
                            <input type="number" id="cantidad" name="cantidad" min="1" value="1">
                            <input type="submit" value="Agregar al Carrito">
                        </form>
                    </section>

                </nav>    
                
                <nav class="Total">
                    <section class="subtotal">
                        <h4>Subtotal</h4>
                        <div class="formulario">
                            <h4>Código de descuento y código postal</h4>
                            <form id="formularioEnvio">
                                <label for="codigoDescuento">Código de Descuento:</label>
                                <input type="text" id="codigoDescuento" name="codigoDescuento">
                                <input type="submit" value="Validar"></input>
                    
                                <label for="codigoPostal">Código Postal:</label>
                                <input type="text" id="codigoPostal" name="codigoPostal">
                    
                                <button type="button" onclick="calcularCostoEnvio()">Calcular Costo de Envío</button>
                            </form>
                                <h3>Total</h3>

                                <button onclick="realizarCompra()">Comprar</button>       
   
                </nav> 
    </main>
    <footer>
        <footer class="footer-distributed">
      <div class="footer-left">
        <h3>Tienda<span>Deportiva</span></h3>

        <p class="footer-links">
          <a href="#">Home</a>
          |
          <a href="#">Sobre Nosotros</a>
          |
          <a href="#">Contacto</a>
          |
          <a href="#">Ayuda</a>
        </p>

        <p class="footer-company-name">
          Copyright © 2023 <strong>Alvarez Ivan</strong> All rights reserved
        </p>
      </div>

      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Argentina</span> Santiago del Estero</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+54 38547**1*8</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:sagar00001.co@gmail.com">xyz@gmail.com</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Sobre Tienda Oficial</span>
          <strong>Tienda Oficial</strong> Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Mollitia nostrum nesciunt laudantium
          quod rem maxime incidunt soluta libero rerum. Neque delectus nisi
          pariatur in quis dolore architecto molestias deleniti ipsam!
        </p>
        <div class="footer-icons">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </footer>
    </footer>
</body>

</html>
