<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>
<body>
    
</body>
<header class="header">
    <div class="encabezado">
        <img class="logo-tienda-deportiva" src="img/Tienda-oficial-deportiva-logo.jpeg" alt="Logo de Tienda Oficial Deportiva">

    </div>

    <div class="burguer-contenedor">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>

<main>
    <div class="register-container">
        <form action="/register" method="POST">
            <label for="labelNombre">Nombre:</label> 
            <input type="text" name="nombre" id="nombre" placeholder="Nombre">
            
            <label for="labelApellido">Apellido:</label> 
            <input type="text" name="apellido" id="apellido" placeholder="Apellido">

            <label for="labelEmail">Correo electrónico:</label> 
            <input type="text" name="email" id="email" placeholder="Correo electrónico">

            <label for="labelDireccion">Dirección:</label> 
            <input type="text" name="direccion" id="direccion" placeholder="Dirección">

            <label for="labelContraseña">Contraseña de Ingreso:</label> 
            <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña">
                        
            <label for="labelConfirmarContraseña">Confirmar Contraseña:</label> 
            <input type="password" name="confirmar_contraseña" id="confirmar_contraseña" placeholder="Reingrese Contraseña">



            <button type="submit">Crear Cuenta</button>
        </form>
    </div>
</main>

<footer>
   
</footer>
</html>