:root {
    --primario: #db0034;
    --secundario: #eeeeee;
    --links: #ada9a9;
    --bg-primario: #424242;
    --bg-secundario: #101010;
}

.createForm {
    padding: 20px 15px;

}

.elementForm {
    margin-bottom: 15px;

}

.elementForm label {
    margin-bottom: 5px;
    display: block;
}

.espacios {
    width: 100%;
    padding: 8px;
}

.botonForm {
    background-color: var(--primario);
    color: #ada9a9;
}