:root {
    --primario: #db0034;
    --secundario: #eeeeee;
    --links: #ada9a9;
    --bg-primario: #424242;
    --bg-secundario: #101010;
    --botones:#EAC926;
}

.titulo {
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: var(--bg-secundario);
    padding: 10px;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    
}

.containerMain {
    display: flex;
    flex-direction: column;
}

.containerImage {
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: var(--links);
}

.containerImage img {
    background-color: #eeeeee;
    width: 100%;
    margin: auto;
}

.containerInfo {
    width: 80%;
    margin: auto;
    padding: 10px;
    background-color: var(--links);
}

.containerInfo article {
    padding: 10px;
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.containerInfo article p {
    padding-top: 10px;
}

.product-detail-price-small b {
    color: green;
    width: 50%;
}

.product-detail-price-small {
    width: 90%;
    margin: auto;
    font-size: 35px;
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.containerMain ul {
    border-top: var(--links) 1px solid;
}

.containerMain ul li {
    display: block;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.containerInfo i {
    color: green;
    font-size: 20px;
    padding: 10px;
    align-items: center;
}
/*------- B O T O N E S -------*/
.boton {
    width: 100%;
    margin: auto;
    height: 40px;
    font-size: 16px;
    color: #eeeeee;
    background-color: var(--bg-primario);
    margin-top: 10px;
}

.containerBoton :hover {
    background-color: green;
}
.botonEL i {
    color: var(--bg-primario);
    font-size: 30px;
    padding: 5px;
    background-color: lightgray;
}

.botonEL :hover {
    color: var(--primario);
    background-color: var(--bg-secundario);
}

.botonED i {
    color: var(--bg-primario);
    font-size: 30px;
    padding: 5px;
    background-color: lightgray;
}

.botonED :hover {
    color: var(--secundario);
    background-color: var(--bg-secundario);
}

.adm {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10%;
}

