:root {
    --primario: #db0034;
    --secundario: #eeeeee;
    --links: #ada9a9;
    --bg-primario: #424242;
    --bg-secundario: #101010;
}

.titulo {
    font-size: 20px;
    text-align: left;
    color: white;
    background-color: var(--bg-secundario);
    padding: 10px 50px;
}



.des {
    font-size: 15px;
    height: 25px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 98%;
}

.boton {
    width: 90px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
    padding: 2px;
    display: flex;
    font-size: 100%;
    color: var(--secundario);
    background-color: var(--primario);
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.enlaceDDP {
    text-decoration: none;
}


main {
    display: flex;
    width: 90vw;
    margin: 15px auto;
    border: 15px;
    background-color: var(--primario);
    height: max-content 450px;

}

.subtitulo {
    color: var(--secundario);
    width: 100%;
    text-align: center;
}

.foto {
    padding: 15px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedorGris {
    background-color: var(--links);
    margin: 15px;
    height: 400%;
    width: 90%;
}

.DPS {
    background-color: #eeeeee;
    width: 98%;
    height: 40%;
    margin: 5px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 5px;

}

.DPA {
    background-color: var(--secundario);
    width: 98%;
    margin: 5px auto;
    height: 30%;
    padding: 15px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.botones {
    background-color: var(--links);
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    padding: 5px;
    height: 20%;
    width: 98%;

}


@media (max-width: 768px) {
    .granContenedor {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:1280px) {
.granContenedor{
    display: flex;
}
}