:root {
    --primario:  #db0034 ;
    --secundario: #eeeeee;
    --links: #ada9a9;
    --bg-primario:  #424242;
    --bg-secundario: #101010;
}

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  
  
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}    

main {
  margin: 10px;
  padding: 10px;
  width: 90%;
}

.container {
  margin: 10px;
  padding: 30px;
  background-color: #ada9a9;
  display: flex;
  width: 80%;
}

 ul {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 80%;
}

.productDescription {
  display: flex;
  flex-direction: column;

  }

.quantity {
  display: flex;
  flex-direction: column;
}

.calculations {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
      display: flex;
      flex-direction: column;
  }
}

@media (min-width:1280px) {
.container{
  display: flex;
  }
  }