:root {
    --primario:  #db0034 ;
    --secundario: #eeeeee;
    --links: #ada9a9;
    --bg-primario:  #424242;
    --bg-secundario: #101010;
    --Negro: #000000;
    --Blanco: #FFFFFF;
    --GrisOscuro: #333333;
    --Gris: #808080;
    --GrisClaro: #CCCCCC;
    --Rojo: #FF0000;
    --Violeta: #800080;
    --Amarillo: #FFFF00;
}

.logoCompletoSinFondo {
  margin-left: 0;
  padding: 0%;
  width: 15vw;
  height: 5vw;
}

.contenedorDelLogo {
  width: 50%;
  height: auto;
}

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background-color: lightgray;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.5);
}


#search-1{
  display: none;
}


i {
  color: #fff;
  cursor: pointer;
}
header .logo {
  flex: 1;
  color: #fff;

  margin-left: 50px;
  text-transform: uppercase;
  font-size: 15px;
}

header .search-box {
  flex: 1;
  position: relative;
}


.search-box input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: #f2f2f2;
  border-radius: 30px;
  color: gray;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 40px;
  text-align: center;
}

.search-box button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.9);
  background: #e0ac1c;
  color: #fff;
}


header ul {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}


header ul li {
  list-style: none;
}


header ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
}


header ul li a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

header .menu {
  font-size: 2.5em;
  display: none;
}


.carrusel {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  margin: 10px;
  position: relative;
  width: 95vw;
}


.elemento {
  flex: 1 0 auto;
  margin: 0 50px;
  background-color: #eeeeee;
  width: 95%;
  height: auto;
  align-items: center;
  justify-content: center;
  border: solid 5px var(--primario);
  padding: 10px 12px;
  border-radius: 5%;
}


footer {
  position: relative;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 30px;
}


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer Left */

.footer-distributed .footer-left {
  width: 30%;
}


.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */


.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}


.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}


.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}


.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-company-about {
  text-align: justify;
  color: #eeeeee;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3f71ea;
}

.footer-links a:hover {
  color: #3f71ea;
}
@media (max-width: 1000px) {
  .search-box button {
    position: absolute;
  }

  header ul {
    position: fixed;
    top: 100px;
    right: -100%;
    background: rgba(0, 0, 0, 0.5);
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: column;
    align-items: center;
    transition: right 0.5s linear;
  }


  header .menu {
    display: block;
    width: 100px;
    text-align: center;
  }


  #search-1:checked ~ ul {
    right: 0;
  }
}


@media (max-width: 481px) {

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.elemento {
  width: 100%
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10 px;
}

.footer-distributed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  }

.footer-center {
  display: none;
}

.contactFoot {
  display: none;
}

}

@media (min-width:481px) and (max-width:769px) {
  .elemento {
    width: 40%;
  }

  .footer-center {
    display: none;
  }

  .contactFoot {
    display: none;
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: left;
  }
 
  }


@media (min-width:770px) {
.elemento {
  width: 25%;
}

.product-box {
  width:25%;
 

}
}

.contAllProducts{
   display: flex;
   flex-wrap: wrap;
   padding: 15px;
   justify-content: space-between;
}


@media (max-width:440px) {
.logoCompletoSinFondo {
  margin-left: 0;
  padding: 0%;
  width: 150px;
  height: 80px;
}
}