<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Registro' , stylesheet: ['/css/styles.css','/css/register.css']}) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="register-container">
                    <img class="tienda" src="/img/Tienda.png" alt="">
                    <div class="register">
                        <p>
                            <img class="logoSinFondo" src="/img/LogoSinFondo.png" alt="logoSinFondo">
                        <h2>Creá una nueva cuenta</h2>
                        </p>

                        <form action="/users/register" method="POST">
                            <label for="labelNombre">Nombre:</label>
                            <input type="text" name="first_name" id="first_name" placeholder="Nombre" class="color-input equal-size">

                            <label for="labelApellido">Apellido:</label>
                            <input type="text" name="last_name" id="last_name" placeholder="Apellido" class="color-input equal-size">

                            <label for="labelEmail">Correo electrónico:</label>
                            <input type="text" name="email" id="email" placeholder="Correo electrónico" class="color-input equal-size">

                            <label for="labelContraseña">Contraseña:</label>
                            <input type="password" name="password" id="password" placeholder="Contraseña" class="color-input equal-size">

                            <label for="labelDireccion">Categoria:</label>
                            <input type="text" name="category" id="category" placeholder="administrador, vendedor o cliente" class="color-input equal-size">

                            <label for="images" class="elementForm">Foto de perfil</label>
                            <input type="file" id="image" name="image" class="color-input equal-size" accept=".jpg, .png"></input>

                            <button type="submit">Crear Cuenta</button>
                        </form>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>

    </body>


</html>